<nav id="navbar"
    class="flex justify-between font-default font-light text-primary bg-secondary top-0 px-8 py-5 lg:px-25 lg:py-8 z-10 fixed w-screen transition-all duration-400 ease-in-out" data-aos="fade-down" data-aos-duration="1000">
    <a href="/" class="text-xl font-normal">AturUang</a>
    <ul class="items-center gap-10 hidden md:flex">
        <li><a href="/" class="nav-link" id="beranda-nav">Beranda</a></li>
        <li><a href="/smart-budgeting/" class="nav-link" id="kalkulator-nav">Kalkulator</a></li>
        <li><a href="/artikel" class="nav-link" id="artikel-nav">Artikel</a></li>
        <li><a href="/tentang" class="nav-link" id="tentang-nav">Tentang</a></li>
        <!-- <li><a href="/login" class="nav-link" id="login-nav">Login</a></li> -->
    </ul>
    <button class="md:hidden hover:cursor-pointer" id="toggleMenu">
        <span class="material-symbols-outlined" id="icon">
            menu
        </span>
    </button>

    <div id="mobileMenu"
        class="flex flex-col bg-secondary text-primary shadow-lg font-default font-light w-screen fixed top-17 left-0 transform -translate-y-[130%] transition-transform duration-300 ease-in-out -z-10">
        <a href="/" class="nav-link opacity-100! text-lg px-8 py-4 active:bg-primary active:text-secondary" id="beranda-nav-mobile">Beranda</a>
        <a href="/smart-budgeting/" class="nav-link opacity-100! text-lg px-8 py-4 active:bg-primary active:text-secondary" id="kalkulator-nav-mobile">Kalkulator</a>
        <a href="/artikel" class="nav-link opacity-100! text-lg px-8 py-4 active:bg-primary active:text-secondary" id="artikel-nav-mobile">Artikel</a>
        <a href="/tentang" class="nav-link opacity-100! text-lg px-8 py-4 active:bg-primary active:text-secondary" id="tentang-nav-mobile">Tentang</a>
        <!-- <a href="/login" class="nav-link opacity-100! text-lg px-8 py-4 active:bg-primary active:text-secondary" id="login-nav-mobile">Login</a> -->
    </div>
</nav>