 <footer
        class="flex flex-col gap-[74px] bg-primary text-secondary justify-center px-8 lg:px-25 py-16 lg:pt-20 lg:pb-8">
        <div class="containerfooter flex justify-between flex-col lg:flex-row gap-10">
            <!-- div kiri 🐧-->
            <div class="flex flex-col gap-6 lg:max-w-[40%]">
                <h1 class="text-[40px] font-bold">AturUang</h1>
                <p class="text-lg">Website edukatif manajemen keuangan dan finansial untuk generasi emas
                    Indonesia.</p>
            </div>
            <!-- div kiri end🐧-->

            <!-- div kanan 🐧-->
            <div class="flex lg:justify-center gap-15 lg:gap-30 lg:mr-20">
                <div>
                    <ul class="flex flex-col gap-4">
                        <li class="font-bold">Related Links</li>
                        <li class="font-light"><a href="#" class="nav-link">Kalkulator Keuangan</a></li>
                        <li class="font-light"><a href="#" class="nav-link">Artikel Keuangan</a></li>
                        <li class="font-light"><a href="#" class="nav-link">Tips Finansial</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="flex flex-col gap-4">
                        <li class="font-bold">Lihat Juga</li>
                        <li class="font-light"><a href="#" class="nav-link">Tentang Kami</a></li>
                        <li class="font-light"><a href="#" class="nav-link">Kontak Kami</a></li>
                    </ul>
                </div>
            </div>
            <!-- div kanan end🐧-->

        </div>
        <!-- copyright 🐧-->
        <div class="copyright w-full text-center">
            Copyright 2025. All Rights Reserved
        </div>
    </footer>