@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #f3f4f6;
  --font-default: "Alexandria", "Arial", sans-serif;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  @apply box-border;
}

.card {
  @apply flex flex-col justify-center items-center shadow-lg;
}

.article-card {
  @apply rounded-lg shadow-md transition-all duration-300 ease-in-out overflow-hidden lg:max-w-100 lg:hover:-translate-y-2 lg:hover:shadow-lg;
}

.nav-link {
  @apply opacity-70 hover:opacity-100 transition-all;
}

.nav-link.active {
  @apply opacity-100;
}

p {
  @apply leading-[180%];
}

.font-bold-custom {
  color: #1e3a8a;
  font-family: Alexandria;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-primary {
  @apply bg-primary text-white px-15 py-4 flex items-center justify-center border border-primary rounded-full mt-6 hover:bg-transparent hover:text-primary hover:border hover:border-primary transition-all duration-300 cursor-pointer ease-in-out;
}

.btn-primary-hp {
  @apply bg-primary text-white px-10 py-3 flex items-center justify-center border border-primary rounded-full hover:bg-transparent hover:text-primary hover:border hover:border-primary transition-all duration-300 cursor-pointer ease-in-out;
}

.btn-primary-alternate {
  @apply bg-transparent text-primary px-15 py-4 flex items-center content-center border border-primary rounded-full w-fit mt-6 hover:bg-primary hover:text-white hover:border hover:border-primary transition-all duration-300 cursor-pointer ease-in-out;
}

.btn-secondary {
  @apply bg-secondary text-primary px-10 py-3 flex items-center gap-3 justify-center border border-secondary rounded-full mt-6 hover:bg-transparent hover:text-secondary hover:border hover:border-secondary hover:fill-secondary transition-all duration-300 cursor-pointer ease-in-out;
}

.custom-shadow {
  box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 0.25);
}

.mission ul li {
  @apply leading-[180%];
}

.tab-active {
  @apply bg-secondary text-primary rounded-full;
}

.tab-hidden {
  @apply opacity-0 pointer-events-none absolute top-0;
}