@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #F3F4F6;
  --font-default: "Alexandria", "Arial", sans-serif;
}

* {
  @apply box-border;
}

.card {
  @apply flex flex-col justify-center items-center shadow-lg;
}

.article-card {
  @apply rounded-lg shadow-md transition-all duration-300 ease-in-out overflow-hidden lg:max-w-100 lg:hover:-translate-y-2 lg:hover:shadow-lg;
}

.nav-link {
  @apply opacity-70 hover:opacity-100 transition-all;
}

.nav-link.active {
  @apply opacity-100;
}

p {
  @apply leading-[180%];
}

.font-bold-custom {
  color: #1e3a8a;
  font-family: Alexandria;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-primary {
  @apply bg-primary text-white px-15 py-4 flex items-center content-center border border-primary rounded-full mt-6 hover:bg-transparent hover:text-primary hover:border hover:border-primary transition-all duration-300 cursor-pointer ease-in-out;
}

.btn-primary-hp {
  @apply bg-primary text-white px-10 py-3 flex items-center justify-center border border-primary rounded-full hover:bg-transparent hover:text-primary hover:border hover:border-primary transition-all duration-300 cursor-pointer ease-in-out;
}

.btn-primary-alternate {
  @apply bg-transparent text-primary px-15 py-4 flex items-center content-center border border-primary rounded-full w-fit mt-6 hover:bg-primary hover:text-white hover:border hover:border-primary transition-all duration-300 cursor-pointer ease-in-out;
}

.mission ul li {
  @apply leading-[180%];
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}